body {
  font-family:  'Helvetica Neue',
    sans-serif;
  background-color:  #c6ac8f; 
  text-align: center;
}

.navbar, .navbar-brand {
  background-color: #219ebc;
  text-align: center;
  display: block;
  width: 100%;
}

div.navbar-brand {
  padding: 2em;
  margin-bottom: 2em;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
  color: #c6ac8f;
}

main {
	max-width: 90%;
  padding: 50px 30px;
}

#avatar {
  /* max-height:300px;
  border-radius: 300px; */
  clip-path: oval();
  width: 150px;
}

.label {
  display-block: left;
}
#contact-form {
  width: 40%;
  display-block: flex;


}
footer.footer {
  background-color: #219ebc;
}

@media only screen and (max-width: 1025px) {
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

