body {
  font-family:  'Helvetica Neue',
    sans-serif;
  background-color:  #6d597a; 
  text-align: center;
}

.navbar, .navbar-brand {
  background-color: #14213d;
  text-align: center;
  display: block;
  width: 100%;
}

div.navbar-brand {
  padding: 2em;
  margin-bottom: 2em;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
	max-width: 90%;
  padding: 50px 30px;
}

#avatar {
  max-height:300px;
  border-radius: 300px;
}

.label {
  text-align: left;
}

footer.footer {
  background.color: #5e548e;
}

@media only screen and (max-width: 1025px) {
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

